# CodeWeaver's CodeWeaver configuration file

project_name = "codeweaver"
token_limit = 30000
max_file_size = 1048576
max_results = 75
enable_telemetry = true

[[provider.embedding]]
provider = "voyage"
enabled = true
model_settings = { model = "voyage-code-3" }

[[provider.embedding]] # sparse
provider = "fastembed"
enabled = true
sparse_model_settings = { model = "prithivida/Splade_PP_en_v2" }

[[provider.reranking]]
provider = "voyage"
enabled = true
model_settings = { model = "voyage-rerank-2.5" }

[provider.vector_store]
qdrant = { url = "https://f3b7755c-ee6e-4605-8786-c4218f9e148b.us-east-1-1.aws.cloud.qdrant.io", collection_name = "codeweaver-dev", prefer_grpc = true }
provider = "qdrant"
