# SPDX-FileCopyrightText: 2025 Knitli Inc.
# SPDX-FileContributor: Adam Poulemanos <adam@knit.li>
#
# SPDX-License-Identifier: MIT OR Apache-2.0

project_path = "/home/knitli/codeweaver"
project_name = "codeweaver"
token_limit = 30000
max_file_size = 1048576
max_results = 75

[provider]
agent = [
  { provider = "anthropic", enabled = true, model = "claude-haiku-4.5", model_settings = {  } },
]
data = [
  { provider = "tavily", enabled = true },
  { provider = "duckduckgo", enabled = true },
]
embedding = [
  { provider = "fastembed", enabled = true, model_settings = { model = "sentence-transformers/all-MiniLM-L6-v2" } },
]
reranking = [
  { provider = "voyage", enabled = true, model_settings = { model = "rerank-2.5" } },
]
vector_store = [
  { provider = "qdrant", enabled = true, provider_settings = { url = "http://localhost:6333" } },
]
sparse_embedding = [
  { provider = "fastembed", enabled = true, model_settings = { model = "prithivida/Splade_PP_en_v1" } },
]

[server]
on_duplicate_tools = "warn"
on_duplicate_resources = "warn"
on_duplicate_prompts = "warn"
resource_prefix_format = "path"
middleware = []
tools = []

[logging]
name = "codeweaver"
level = 20
use_rich = false

[middleware.error_handling]
include_traceback = true
transform_errors = false

[middleware.retry]
max_retries = 5
base_delay = 1.0
max_delay = 60.0
backoff_multiplier = 2.0

[middleware.logging]
log_level = 20
include_payloads = false

[middleware.rate_limiting]
max_requests_per_second = 75
burst_capacity = 150
global_limit = true

[indexer]
forced_includes = [
  "**/.vscode/**",
  "**/.codeweaver/**",
  "**/.github/prompts/**",
  "**/.specify/memory/**",
  "**/.yarn/**",
  "**/.devcontainer/**",
  "**/.cargo/**",
  "**/.mcp.json/**",
  "**/.idea/**",
  "**/.serena/**",
  "**/.roo/commands/**",
  "**/.github/**",
  "**/.ruff.toml/**",
  "**/.stylelintrc.yml/**",
  "**/.stylelintrc.json/**",
  "**/.specify/templates/**",
  "**/.husky/**",
  "**/.continue/**",
  "**/.changeset/**",
  "**/.codex/**",
  "**/.specify/scripts/bash/**",
  "**/.cursor/**",
  "**/.stylelintrc.yaml/**",
  "**/.yarnrc/**",
  "**/.typos.toml/**",
  "**/.github/chatmodes/**",
  "**/.roomodes/**",
  "**/.pre-commit-config.yaml/**",
  "**/.yarnrc.yml/**",
  "**/.mvn/**",
  "**/.specify/**",
  "**/.husky/pre-push/**",
  "**/.husky/pre-commit/**",
  "**/.claude/commands/**",
  "**/.npmrc/**",
  "**/.pre-commit-config.yml/**",
  "**/.roo/**",
  "**/.moon/**",
  "**/.claude/**",
  "**/.stylelintrc/**",
]
excludes = [
  "tests/fixtures/deep_nesting.py",
  "tests/fixtures/malformed.py",
  "tests/fixtures/sample.go",
]
