# SPDX-FileCopyrightText: 2025 Knitli Inc.
# SPDX-FileContributor: Adam Poulemanos <adam@knit.li>
#
# SPDX-License-Identifier: MIT OR Apache-2.0

name: "Stale Issues and PRs"
on:
    schedule:
        - cron: "0 11 * * *"

permissions:
    issues: write
    pull-requests: write

jobs:
    stale:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d
              with:
                  days-before-stale: 7
                  days-before-close: 3

                  any-of-issue-labels: "question,more info"
                  stale-issue-message: "This issue is stale, we will close it in 3 days if you don't reply."
                  close-issue-message: "This issue hasn't been active for 10 days, closing."

                  any-of-pr-labels: "needs revision"
                  stale-pr-message: "This PR is stale, we will close it in 3 days if you don't reply."
                  close-pr-message: "This PR hasn't been active for 10 days, closing."
